.junoContainer {
  width: 100%;
  box-sizing: border-box;
}

.junoContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

.junoCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 30px 20px;
  transition: 0.3s;
}
.junoCard:hover {
  color: slateblue;
  box-shadow:  10px 10px 30px #ccd3d9,
             -10px -10px 30px #ffffff;
}

.junoCardImage {
  width: auto;
  height: 200px;
  max-width: 300px;
  margin: 0 auto 20px auto;
}

.junoCardImage img {
  height: 100%;
  width: auto;
}

.junoCardInfo {
  width: 100%;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.junoCardInfo h4 {
  padding-bottom: 20px;
}

.junoCardInfo p {
  padding-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  .junoContent {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .junoContent {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
