.chat-chatbot-button {
  position: fixed;
  left: 90vw;
  top: 50vh;
  width: 65px;
  height: 65px;
  font-size: 36px;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMSTcf9vxteFLXwKOVebZMuNkDh7PkAvwe7w&usqp=CAU);
  background-position: center;
  background-size: contain;
  box-shadow: 0 8px 32px 0 rgba(189, 202, 251, 0.37);
  border-radius: 50%;
  color: rgba(189, 202, 251, 1);
  border: 2px solid rgba(189, 202, 251, 1);
  z-index: 500;
}
.chat-chatbot-button:hover {
  mix-blend-mode: hard-light;
  box-shadow: 0 8px 32px 0 rgba(256, 256, 256, 0.21);
  border-radius: 50%;
  color: rgb(17, 51, 85);
  border: 1px solid #113355;
  transition: 0.5s ease-in;
}



.chat-chatbot-button-label {
  width: 10vw;
  position: absolute;
  font-size: 1.8rem;
  line-height: 1;
  color: aliceblue;
  top:62vh;
  left: 88vw;
  text-align: center;
  opacity: 1;

}

.chat-chatbot-button-label:hover {
  transition: 0.5s ease-in;

}


.react-chatbot-kit-chat-inner-container {
  background: rgba(189, 202, 251, 0.21);
  border-radius: 10px;
}

.chat-chatbot-container {
  position: fixed;
  left: 70vw;
  top: 15vh;
  width: 20vw;
  z-index: 5000;
  overflow-y: scroll;
}



.chatWindowHeader {
  display: flex;
  flex-direction: row;
  background: rgba(189, 202, 251, 1);
  font-size: 24px;
}

.react-chatbot-kit-chat-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(189, 202, 251, 1);
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #514f4f;
  padding: 12.5px;
  font-weight: bold;
}

.chat {
  background: rgba(189,202,251, 1);
}
.react-chatbot-kit-chat-message-container {
  background: transparent;
  box-shadow: 0 8px 32px 0 rgba(189, 202, 251, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
}

.chatWindow {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(189, 202, 251, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

}

.heading {
  position: fixed;
  top: 0;
  background: rgba(189, 202, 251, 1);
  border-bottom: 1px solid;
  font-size: 36x;
  border-radius: 10px 0px 0px 10px;
}
.listStyle {
  padding-top: 60px;
  padding-bottom: 60px;
}
.formPosStyle {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  background: rgba(189, 202, 251, 1);
}

.message {
  font-size: 20px;
  margin: 20px;
  background-color: rgba(189, 202, 251,1);
  box-shadow: 0 8px 32px 0 rgba(189, 202, 251, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow-y: scroll;
}
.react-chatbot-kit-chat-input-container {
  border-radius: 0px 10px 10px 0px;
  position: absolute;
  bottom: 0;
  padding: 10px 5px;
  width: 100%;
  height: 36px;
  display: flex;
  background: rgba(189,202,251, 1);
}
.react-chatbot-kit-chat-input {
  font-size: 2rem;
  height: 14px;
  border-radius: 25px;
  width: 70%;
}
.react-chatbot-kit-chat-bot-message {
  color: #113355;
  background: rgba(189,202,251, 1);
  font-size: 2rem;
  font-weight: 700;
}
.react-chatbot-kit-user-chat-message {
  background-color: #113355;
  color: rgba(189,202,251,1);
  font-size: 2rem;
  font-weight: 700;
}
.react-chatbot-kit-user-chat-message > .react-chatbot-kit-user-chat-message-arrow {
fill:#113355;
}

.react-chatbot-kit-chat-btn-send {
  width: 64px;
  height: 64px;
  font-size: 56px;
  margin-top: -2vh;
  margin-left: 0vw;
  background: transparent !important;
}
.react-chatbot-kit-chat-btn-send-icon {
  padding: 5px;
  border: 1px solid #113355;
  fill: #113355;
  border-radius: 50%;
}