.chat-chatbot-button {
  position: fixed;
  left: 91vw;
  top: 50vh;
  padding: auto;
  width: 65px;
  height: 65px;
  font-size: 36px;
  background: rgba(17, 51, 85, 0.3);
  background-position: center;
  background-size: contain;
  box-shadow: 0 8px 32px 0 rgba(189, 202, 251, 0.37);
  border-radius: 50%;
  border: 1px solid rgba(189, 202, 251, 0.37);
  color: rgba(189, 202, 251, 1);
  border: 2px solid rgba(189, 202, 251, 1);
  z-index: 5000;
}
.chat-chatbot-button:hover {
  box-shadow: 0 8px 32px 0 rgba(256, 256, 256, 0.21);
  border-radius: 50%;
  background-color: #fff;
  color: rgba(17, 51, 85, 1);
  border: 1px solid #135;
  transition: 0.5s ease-in;
}
.chat-chatbot-icon {
  display: flex;
  margin: 0 auto 0 -0.85vw;
}
.chat-chatbot-button-label {
  width: 5vw;
  position: absolute;
  font-size: 1.8rem;
  line-height: 1;
  color: #f0f8ff;
  top: 58vh;
  left: 90vw;
  text-align: center;
  opacity: 1;
  z-index: 10000;
}
.chat-chatbot-button-label:hover {
  transition: 0.5s ease-in;
}
@media only screen and (max-width:450px) {
  .chat-chatbot-button {
    left: 80vw;
    top: 85vh;
  }
  .chat-chatbot-button-label {
    display: none;
  }
}
.react-chatbot-kit-chat-inner-container {
  background: rgba(189, 202, 251, 0) !important;
  border-radius: 15px;
}
.chat-chatbot-container {
  position: fixed;
  left: 70vw;
  top: 15vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 15px;
  z-index: 1000;
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
  .chat-chatbot-container {
    left: 0vw;
  }
  .chat-chatbot-button-label {
    max-width: 50px !important;
    width: 100%;
  }
  @media only screen and (max-height: 400px) {
    .chat-chatbot-container {
      left: 50vw;
      max-height: 300px;
      flex-shrink: 1;
    }
  }
}
.react-chatbot-kit-chat-header {
  color: #135;
}
.chatWindowHeader {
  display: flex;
  flex-direction: row;
  background: rgba(189, 202, 251, 0.22);
  font-size: 24px;
  color: #135;
}
.react-chatbot-kit-chat-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(189, 202, 251, 1);
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  align-items: center;
  font-size: 2rem !important;
  color: #135;
  padding: 12.5px;
  font-weight: 300;
}
.chat {
  background: rgba(189, 202, 251, 0.11);
}
.react-chatbot-kit-chat-message-container {
  border: 1px solid rgba(189, 202, 251, 0.11);
  background-color: rgba(189, 202, 251, 0.21) !important;
  box-shadow: 0 8px 32px 0 rgba(189, 202, 251, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}
.react-chatbot-kit-chat-input-container {
  background-color: #f0f8ff !important;
  padding: 0;
}
.chatWindow {
  background: rgba(255, 255, 255, 0) !important;
  width: auto;
  box-shadow: 0 8px 32px 0 rgba(189, 202, 251, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 15px;
  border: 1px solid rgba(196, 90, 90, 0.18);
}
.heading {
  position: fixed;
  top: 0;
  background: rgba(189, 202, 251, 1);
  border-bottom: 1px solid;
  font-size: 36x;
  border-radius: 10px 0 0 10px;
}

.listStyle {
  padding-top: 60px;
  padding-bottom: 60px;
}
.formPosStyle {
  position: fixed;
  height: auto;
  bottom: 0;
  margin-bottom: 0;
  border-radius: 0 10px 10px 0;
}

.message {
  font-size: 32px;
  margin: 20px;
  background-color: rgba(189, 202, 251, 1);
  box-shadow: 0 8px 32px 0 rgba(189, 202, 251, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow-y: scroll;
}
.react-chatbot-kit-chat-input-container {
  border-radius: 0 0 10px 10px;
  bottom: 0;
  padding: 15px;
  width: 89% !important;
  height: 36px;
  display: flex;
  background: rgba(189, 202, 251, 1);
}
.react-chatbot-kit-chat-input {
  font-size: 2rem;
  height: 12px;
  border-radius: 25px;
  width: 100%;
}
.react-chatbot-kit-chat-bot-message {
  color: #135;
  background: rgba(189, 202, 251, 1);
  font-size: 2rem !important;
  font-weight: 300;
}
.react-chatbot-kit-user-chat-message {
  background-color: #135;
  color: rgba(189, 202, 251, 1);
  font-size: 2rem !important;
  font-weight: 300;
}
.react-chatbot-kit-user-chat-message > .react-chatbot-kit-user-chat-message-arrow {
  fill: #135;
}
.react-chatbot-kit-user-chat-message-arrow {
  border-top: 8px solid rgba(255, 255, 255, 0);
  border-bottom: 8px solid rgba(255, 255, 255, 0);
  border-left: 8px solid #135;
}
.react-chatbot-kit-chat-btn-send {
  width: 64px;
  height: 64px;
  font-size: 56px;
  margin-top: -2vh;
  margin-left: 0;
  background: 0 0 !important;
}
.react-chatbot-kit-chat-btn-send-icon {
  padding: 10px auto;
  border: 1px solid #135;
  fill: #135 !important;
  border-radius: 50%;
  box-shadow: 0 8px 32px 0 #999;
}
