.learning-options-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;
  font-weight: 100;
}

.learning-option-button {
  text-decoration: none;
  margin: 6px;
  display: block;
  color: #113355;
  background-color: rgb(255, 255, 255, 0.8);
  border: 2px solid #113355;
  padding: 8px;
  border-radius: 25px;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
  box-shadow: 2px 2px 4px rgba(150, 149, 149, 0.4);
  font-size: 1.5em;
}

.learning-option-button:hover {
  background: rgba(189,202,251, 0.5);
  color: rgba(189,202,251,1) ;
  transition: 0.4s ease-in-out;
}