/* Big Title */

.bigTitle {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .bigTitle {
    width: auto;
  }
}
@media only screen and (max-width: 900px) {
  .siteSubtitle {
    display: none;
  }
}
/* Video Section Component component */

.videoSection {
  z-index: 20;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  background-color: rgba(206, 208, 237, 0);
  display: flex;
  flex-direction: row;
}

.videoSection video {
  position: absolute;
  z-index: 0;
  margin-left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  margin-top: 50vh;
  top: 0px;
  left: 0px; /* fixed to left. Replace it by right if you want.*/
  /* min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;
  z-index: -5;
  opacity: 1; */
}

.videoSection .fullScreenImage {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 900px) {
  .videoSection .fullScreenImage {
    background-image: url(https://images.pexels.com/photos/270410/pexels-photo-270410.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.videoOverlay {
  width: 100%;
  height: 100%;
  z-index: 15;
  position: absolute;
  left: 0vw;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(46, 42, 94, 0.2) 20%,
    rgba(97, 52, 52, 0.33) 50%,
    rgba(46, 42, 94, 0.2) 80%,
    rgba(13, 39, 94, 1) 100%
  );
}

.projectOverlay {
  width: 100%;
  height: 100%;
  z-index: 15;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(46, 42, 94, 1) 0%,
    rgba(46, 42, 94, 0.2) 20%,
    rgba(97, 52, 52, 0.33) 50%,
    rgba(46, 42, 94, 0.2) 80%,
    rgba(46, 42, 94, 1) 100%
  );
}

.videoSectionLeft {
  width: 70%;
  height: 100%;
  position: relative;
}

.videoSectionRight {
  width: 100%;
  max-width: 45vw;
  height: 100%;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px;
}

.videoSectionRight .siteText,
.videoSectionRight .siteTitle,
.videoSectionRight .siteButtons {
  max-width: 35vw;
  width: 100%;
  color: #f0f8ff;
  border-color: #f0f8ff;
}

.siteInfoVideoSection {
  display: flex;
  flex-direction: column;

  padding: 15px 25px;
  width: 30vw;
  text-align: left;
  justify-content: space-evenly;
  margin-left: -15vw;
  border-radius: 15px;

  box-shadow: none !important;
  background: rgba(189, 202, 251, .11);
  border: 1px solid rgba(189,202,251,0.11);
  backdrop-filter: blur(12px);
  align-items: flex-start;
}
.siteInfoVideoSection > .siteButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

@media only screen and (max-width: 900px) {
  .videoMain {
    position: absolute;
    height: 100%;
    width: auto;
    margin-top: -5vh;
    transform: scale(1);
  }

  .videoSectionRight .siteInfo {
    position: absolute;
    max-width: 100vw;
    width: 100vw;
 color: #fff !important;
    top: -50vh;
    left: -5vw;
    border-radius: 15px;

  }
  .videoSectionRight .siteInfo .siteInfoVideoSection {
    max-width: 100vw;
    width: 100%;
  }
  .videoSectionRight .siteInfo > .siteText p {
    max-width: 100vw;
    width: 80vw;
    opacity: 1;
    text-align: left;
    margin: 0 !important;
    margin-left: -25vw !important;
    padding: 0 !important;
    color: #fff !important;
  }
  .videoSectionRight .siteButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100vw;
    justify-content: space-evenly;
  }
  .lottie-player-container {
    margin-top: -50vh;
    margin-right: 60vw;
    margin-bottom: 50vh;
    margin-left: -30vw;
    width: 100%;
    max-width: 100vw;
    transform: scale(0.5);
    position: relative;
    opacity: 1;
    z-index: 100;
  }
  .contactFormContainer {
    max-width: 100vw;
    width: 100%;
  }
  .siteInfoVideoSection {
    margin-left: 55vw;
    width: 100%;
    max-width: 100vw;
    padding: 5vh 30vw;
  }
  .siteInfoVideoSection > .siteText p {
    text-align: left;
    margin-left: -12vw;
    display: flex;
    position: relative;
    width: 100%;
  }
  .siteInfoVideoSection .siteButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 768px) {
  .videoSection {
    flex-direction: column;
  }

  .videoOverlay {
    background: linear-gradient(
      0deg,
      rgba(0,0,0, 0.2) 0%,
      rgba(0,0,0, 0) 35%,
      rgba(0,0,0, 0.1) 50%,
      rgba(0,0,0, 0.2) 100%
    );
  }

  .projectOverlay {
    background: linear-gradient(
      0deg,
      rgba(0,0,0, .21) 1%,
      rgba(0,0,0, 0.5) 50%,
      rgba(0,0,0, 0) 70%,
      rgba(0,0,0, 0) 100%
    );
  }

  .videoSectionLeft {
    width: 100%;
    height: 55%;
  }

  .videoSectionRight {
    width: 100%;
    height: 40vh;
    padding: 15px;
  }

  .videoOverlay img {
    background-image: url(https://images.pexels.com/photos/270410/pexels-photo-270410.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-position: center;
  }
  .siteInfoVideoSection {
    margin-top: -50vh;
    z-index: 1400;
  }
}

/* token module (tesla style stat head-up) */
.tokenModule {
  display: none;
}

.token h2 {
  text-align: center;
  margin-bottom: 5px;
  transform: scale(1.2);
  font-weight: 900;
  color: "rgb(240, 248, 255)";
}

.token h6 {
  text-align: center;
  transform: scale(1.2);
  font-weight: 100;
  color: "rgb(240, 248, 255)";
}

.token {
  max-width: 150px;
  padding: 0 30px;
}
.token h6:hover,
.token h2:hover {
  color: rgb(240, 248, 255);
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}
.secondtoken {
  border-right: 1px solid #0e0e0e;
  border-left: 1px solid #0e0e0e;
}

@media only screen and (max-width: 450px) {
  .tokenModule {
    bottom: 0px;
  }

  .token {
    max-width: 100px;
    padding: 0 15px;
  }
}

/* Play Button component */

.playButtonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButton {
  width: 100px;
  height: 100px;
  border-radius: 300px;
  border: 1px solid rgb(240, 248, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Simple  Button component */

.simpleBtn {

  border-radius: 50px;
  border: 2px solid rgb(240, 248, 255);
  transition: all 0.6s ease;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  color: rgb(240, 248, 255);
  padding: 5px;
  margin: 10px 5px 10px 5px;
}


.simpleBtn h4 {
  padding: 10px 15px;
  text-align: center;
  white-space: nowrap;
}

.simpleDarkBtn {
  border: 2px solid rgb(240, 248, 255);
  color: rgb(240, 248, 255);
}
.simpleBtnDark {
  border: 2px solid rgb(240, 248, 255);
  color: rgb(240, 248, 255);
  font-weight: 500;
  margin: 5px 15px;

}

.simpleLightBtn {
  border: 2px solid rgb(240, 248, 255);
  color: rgb(240, 248, 255);
}

.simpleBtn:hover {
  background-color: rgba(256, 256, 256, 1);
  color: #113355;
  border-color: rgb(240, 248, 255);
}

.simpleBtnDark:hover {
  background-color: rgba(256, 256, 256, 1);
  color: #113355;
  border-color: rgb(240, 248, 255);
}
.simpleBtnDark h4:hover {
  color: #113355;
}
.simpleDarkBtn:hover {
  background-color: rgba(256, 256, 256, 1);
  color: #113355;
  border-color: rgb(240, 248, 255);
}
.simpleLightBtn:hover {
  background-color: rgba(256, 256, 256, 1);
  color: #113355;
  border-color: rgb(240, 248, 255);
}
@media only screen and (max-width: 900px) {
  .simpleBtn .simpleBtnDark {
    top: 50vh;
    left: 50vw;
    right: auto;
    width: 100%;
    max-width: 100vw;
    align-items: center;
  }
}

/*Circle Button component */

.circleBtn {
  color: #113355;
  border: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: 10px 0px 10px 0;
  white-space: nowrap;
}

.circleBtnIcon {
  margin-right: 10px;
  border-radius: 20px;
  border: 2px solid;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 900;
}

.circleBtnDark {
  border-color: rgb(240, 248, 255);
  color: rgb(240, 248, 255);
  margin: 0;
  padding: 0;
  justify-content: center;
}

.circleBtnLight {
  border-color: rgb(240, 248, 255);
  color: rgb(240, 248, 255);
}

.circleBtnDark:hover .circleBtnIcon {
  background-color: rgba(256, 256, 256, 1);
  color: #113355;
  border-color: rgb(240, 248, 255);
}

.circleBtnLight:hover .circleBtnIcon {
  background-color: rgba(256, 256, 256, 1);
  color: #113355;
  border-color: rgb(240, 248, 255);
}

/* FullScreenEffect Carousel component */

.defaultCarousel {
  z-index: 200;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.4s;
  height: 100%;
}

.defaultCarouselItemWrapper {
  position: absolute;
  height: 100%;
  padding: 0px;
  transition: all 0.6s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.defaultCarouselItem {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.defaultCarouselControl {
  z-index: 200;
  position: absolute;
  width: 150px;
  height: 50%;
  top: 25%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next {
  right: 0;
}

.previous {
  margin-left: 0;
}

@media only screen and (max-width: 1023px) {
  .defaultCarouselControl {
    display: none;
  }

  .defaultCarouselItemWrapper {
    transition: all 0.2s ease;
  }
}

/* Filter Blur Img Component */

.filterBlurImgContainer {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.filterBlurImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 5;
  transform: scale(1.2);
}

.filterBlurImgBottom {
  position: absolute;
  top: 0;
  z-index: 10;
  -webkit-mask-image: -webkit-linear-gradient(
    90deg,
    rgba(256, 256, 256, 1) 20%,
    rgba(256, 256, 256, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: -webkit-linear-gradient(
    90deg,
    rgba(256, 256, 256, 1) 20%,
    rgba(256, 256, 256, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.filterDark {
  -webkit-filter: blur(3px) brightness(50%);
  filter: blur(3px) brightness(50%);
}

.filterLight {
  -webkit-filter: blur(3px) brightness(150%);
  filter: blur(3px) brightness(150%);
}

/*  Contact Form*/

.contactFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  padding: 50px;

  position: relative;
  border-radius: 50px;

  box-shadow: none !important;
  background: rgba(189, 202, 251, 0.11);
  border: 1px solid rgba(189,202,251,0.11);
  backdrop-filter: blur(12px);
}

.contactFormContainer h3 {
  padding: 5px 0px 10px 0px;
}

.contactFormContainer p {
  max-width: 450px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-group {
  width: 100%;
  margin-top: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  background-color: rgba(192, 192, 192, 0);
  padding: 6px;
  font-size: 18px;
  border: 0px;
  border-bottom: 2px solid rgba(189, 202, 251, 0.3);
  margin-top: 5px;
  outline: 0;
  transition: 0.3s ease border-bottom;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.form-group input:focus,
.form-group textarea:focus {
  border-bottom: 2px solid rgba(189, 202, 251, 1);
}

textarea {
  resize: vertical;
}

.contactForm button {
  margin-top: 20px;
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  color: rgba(224, 224, 224, 0.5) !important;
  margin: 0;
}

/* Background svg decorations */

.backSvg {
  position: absolute;
  z-index: 5;
  opacity: 0.1;
}

.backRightBottom {
  bottom: -20%;
  right: -5%;
  transform: rotate(30deg);
}

.backLeftBottom {
  bottom: -20%;
  left: 5%;
  transform: rotate(-15deg);
}

.backRightTop {
  top: -10%;
  right: 10%;
  transform: rotate(-25deg);
}
