.siteInfo,
.siteInfoHomepage {
  padding: 15px;

  line-height: 1;
  margin: -5vh 10vw 0vh 0vh;
  z-index: 30;
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  height: auto;
  border-radius: 16px;

  box-shadow: none !important;
  background: rgba(189, 202, 251, 0.11);
  border: 1px solid rgba(189, 202, 251, 0.33);
  backdrop-filter: blur(12px);
  align-items: flex-start;
}

.siteInfoHomepage {
  margin: 10vh auto;
  display: flex;
  flex-direction: row;
  max-width: 80vw;
  width: 100%;
}

.siteTitle {
  display: flex;
  flex-direction: column;
  margin-left: 0vw;
  width: 100%;
  padding: 15px;
  text-align: left;
  font-weight: 900;
  font-size: 20px;
}



.siteButtons {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 15px auto;
  bottom: 0px;
  width: 100%;

}
.siteButtons h4 {
  color: #f0f8ff;
}

.siteText  p {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 25px;
  padding: auto 25px;
  text-align: center;
  font-size: 12px;
  max-width: 40vw;
  font-weight: 500;
  color: #f0f8ff;
}

.siteButtons {
  display: flex;
  margin-left: 0vw;
  text-align: center;
  width: 80%;
  flex-direction: column !important;
  justify-content: space-evenly !important;
}

.siteTitle h5 {

  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}


.minimalButton {
  display: flex;
  align-items: center;
  cursor: pointer;

  border-radius: 50px;
}
.minimalButton h4 {
  padding-right: 4px;
  transition: all 0.6s ease;
}

@media only screen and (max-width: 1023px) {
  .siteInfo,
  .siteInfoHomepage {
    width: 100%;

  }
  .siteButtons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
  }
  .siteText {
    padding: 25px;
  }
}

.fullSectionContent.limitWidthContent.thirdBottom > .siteInfo {
  margin-top: 10vh;
  margin-left: 15vw;
}
.fullSectionContent.limitWidthContent.thirdBottom > .siteInfo > .siteTitle .icon {
  width: 100%;
  text-align: center;
}
.fullSectionContent.limitWidthContent.thirdBottom > .siteInfo > .siteTitle h2 {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .siteInfo,
  .siteInfoHomepage {

    width: 100%;
max-width:100vw;
    display: flex;
    flex-direction: column;
border-radius: 0;
    align-items: center;
    margin: 15vh;
    padding: 25px;
  }
.siteTitle .icon {
  font-size: 48px;
  width: 100%;
  text-align: center;
}
  .siteTitle h5 {
    font-size: 24px;
  }
  .siteTitle h2 {
    text-align: center;
  }
  .siteText p {
    line-height: 22px;
    width: 100%;
    max-width: 75vw;
    text-align: left;
    justify-content: flex-end;

  }

  .siteButtons {
    text-align: left;
    display: flex;
    margin: 2px;
    left: 0vw;
    flex-direction: row !important;

    justify-content: space-between;
    font-weight: 900 !important;
  }

  .fullSectionContent.limitWidthContent.thirdBottom > .siteInfo {
    width: 100%;
    max-width: 90vw;
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
  }
}
