.siteInfo {
  width: 80vw;
  display: flex;
align-items: center;
padding: 45px;

  margin: 50px 0 30px 0;
  box-sizing: border-box;
  line-height: 1.2;

  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.0px );
  -webkit-backdrop-filter: blur( 3.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.siteTitle {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

.siteText {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 0vw;
  padding: 0px 45px;
}
.siteButtons .simpleBtn .simpleBtnDark {
  padding: 0px 45px;
}
.siteButtons {
  position: relative;
  grid-column: 6/6;
  grid-row: 1/2;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.siteInfo .siteTitle > .icon {
  width: 45px !important;
  height: 45px !important;
}

.minimalButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 50px;
}
.minimalButton h4 {
  padding-right: 4px;
  transition: all 0.6s ease;
}

.minimalButton:hover h4 {
  padding-right: 12px;
}

@media only screen and (max-width: 1023px) {
  .siteInfo {
    width: 100%;
    display: flex;

  }

  .siteButtons {
    position: relative;

    border-left: 0px;
    padding: 10px 20% 0 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}

@media only screen and (max-width: 450px) {
  .siteInfo {
    display: flex;
    flex-direction: column;
  }

  .siteTitle {
    padding-bottom: 15px;
  }

  .siteText {
    padding-bottom: 15px;
  }

  .siteButtons {
    flex-direction: row;
    padding: 0;
  }
}
