.siteInfo, .siteInfoHomepage {
  width: 100%;
display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 300px;
  margin: 50px 0 30px 0;
  padding: 25px 25px !important;
  box-sizing: border-box;
  background: rgba(189, 202, 251, 0.11);
  border: 1px solid rgba(189,202,251,0.11);
  backdrop-filter: blur(12px);
  border-radius: 15px;
}


.siteTitle {
  position: relative;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  width: 40vw;
  flex-wrap: wrap;
=======
  grid-column: 1/2;
  grid-row: 1/2;
>>>>>>> d40478053ea299b9ca17d642ddff260f247bab48
  text-align: left;
}


.siteText p, .siteTextHomepage p {
  position: relative;
  width: 40vw;
  margin-left: 0vw;

}



.siteButtons, .siteButtonsHomepage {
  position: relative;
  grid-column: 5/6;
  grid-row: 1/2;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

/* project-page section */
.siteInfoProjectpage {
  width: 40% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
position: absolute;
  max-height: 350px;
  top: 40vh;
  left: 50vw;
  padding: 25px 25px !important;
  box-sizing: border-box;
  background: rgba(189, 202, 251, 0.11) !important;
  border: 1px solid rgba(189,202,251,0.11);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  z-index: 100000 !important;

}
.siteTitleProjectpage, .siteTitleProjectpage h5 h2 {
  position: relative;

  text-align: center;
}
.siteTextProjectpage, .siteTextProjectpage p {
  position: relative;
  width: 30vw;
  margin-left: 2vw;

}
.siteButtonsProjectpage {
  position: relative;
max-width: 10vw;
margin-left: 20vw;
  padding: 0px 25px;
  display: flex;
  flex-direction:column;
}

@media screen and (max-width: 450px) {
  .siteInfoProjectpage {
   width: 100% !important;
   left: 0vw !important;
   top:15vh;
  }
  .siteButtonsProjectpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    transform: scale(0.8);
    width: 100%;
  }
}


/* Minimal Button */
.minimalButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 50px;
}
.minimalButton h4 {
  padding-right: 4px;
  transition: all 0.6s ease;
}

.minimalButton:hover h4 {
  padding-right: 12px;
}

@media only screen and (max-width: 1023px) {
  .siteInfo, .siteInfoHomepage {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 20px 2.4fr;
  }

  .siteButtons, .siteButtonsHomepage {
    position: relative;
    grid-column: 1/4;
    grid-row: 2/3;
    border-left: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}

@media only screen and (max-width: 450px) {
  .siteInfo, .siteInfoHomepage {
    display: flex;
    flex-direction: column;
    min-height: 450px;
  }

  .siteTitle, .siteTitleHomepage {
    padding-bottom: 15px;
  }

  .siteText, .siteTextHomepage {
    padding-bottom: 15px;

  }
  .siteTextHomepage p {
    width: 75vw;
  }
  .siteText p {
    width: 75vw;
  }

  .siteButtons, .siteButtonsHomepage {
    flex-direction: column;
    margin-top: 1vh;
    padding: 0;
  }
}
