.centerContent {
  text-align: center;
  margin: auto;
  display: block;
  margin: 0 auto;
  padding: 1.5rem;

}
.tw-main-div {
  position: relative;
  max-width: 350px;
  height: 400px;
  padding: 1.5rem;

}
.twitter-component {

  height: 400px;
  padding: 1.5rem;
  margin-top: 0vh;

}

.timeline-Header-title {
  font-size: 56px;
  font-weight: 100 !important;

}
