.bannerContainer {
  position: relative;
  width: 100vw;
  height: 80vh;
  min-height: 600px;
  padding: 5% 0 0 0;
  box-sizing: border-box;
}

.bannerContent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  align-items: stretch;
}

.bannerTitle {
  width: 100%;
  height: 100%;
  display: flex;
  width: 100%;
  height: 100%;
  color: slateblue;
  font-weight: 300;
  opacity: 0.4;
  flex-direction: column;
  grid-column: 2/7;
  grid-row: 3/8;
  animation: titleEntry 1s ease-in-out;
}


.bannerInfo {
  border-top: solid 5px slateblue;
  width: 0%;
  height: 100%;
  grid-column: 3/7;
  grid-row: 10/13;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  animation: bannerInfoBorder 1s ease-in-out 1s forwards;
  justify-self: flex-end;
}

.bannerInfo p {
  opacity: 0;
  width: 100%;
  max-width: 400px;
  margin-top: -100%;
  margin-right: 50vw;
  animation: bannerInfoText 1s ease-in-out 1.5s forwards;
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
}

.bannerTitle h3 {
  font-weight: 900;
  font-size: 200px;
  color: slateblue;
}

.bannerTitle h1 {
  font-weight: 900;
  font-size: 10vw;
  color: slateblue;
}

.wordPrinter {
  position: fixed;
  font-weight: 100;
  font-size: 15h;
  color: slateblue;
  line-height: 1;
}
.wordPrinter::before {
  content: "_";
  font-size: 10vw;
  color:#d8dfe6;
  text-shadow: 5px 5px 20px #ccd3d9, -5px -5px 20px #ffffff;
  opacity: 1;
  animation: words 25s linear infinite;
  animation-delay: 500ms;
}

.wordPrinterBack {
  position: fixed;
  font-weight: 900;
  font-size: 40px;
  z-index: -1;
  mix-blend-mode: color-burn;
  color: aliceblue;
  opacity: 0.8;
  grid-column: 1/12;
  grid-row: 2/11;
  text-shadow: 5px 5px 20px #ccd3d9, -5px -5px 20px #ffffff;
  transition: 0.6s;
}

.wordPrinterBack::before {
  content: "";
  font-size: 20vw;
  animation: words 30s linear infinite;
  margin-left: -5vw;
}

.crystalPosition {
  grid-column: 4/10;
  grid-row: 1/12;
}

@media only screen and (max-width: 1200px) {
  .bannerTitle {
    align-items: center;
    grid-column: 1/13;
    grid-row: 1/5;
  }

  .bannerInfo {
    grid-column: 2/12;
    grid-row: 9/13;
    text-align: center;
    padding: 10px;
    margin: 30px 0 0 0;
    z-index: 200;
  }

  .bannerInfo p {
    margin: auto;
  }

  .bannerTitle h3 {
    font-size: 6vw;
  }

  .bannerTitle h1 {
    font-size: 16vw;
    line-height: 0.8;
  }

  .wordPrinter::before {
    font-size: 12vw;
  }

  .wordPrinterBack {
    grid-column: 1/13;
    grid-row: 4/6;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .wordPrinterBack::before {
    font-size: 26vw;
    margin: auto;
    text-align: center;
    align-self: center;
    justify-self: center;
  }

  .crystalPosition {
    grid-column: 1/13;
    grid-row: 3/9;
  }
}

/*--- ENTRY ANIMATIONS ---*/
@keyframes titleEntry {
  0% {
    margin-top: 200px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes bannerInfoBorder {
  0% {
    opacity: 1;
    float: right;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes bannerInfoText {
  0% {
    top: 0;
    opacity: 0;
    margin-top: -100%;
  }
  100% {
    opacity: 1;
    margin-top: 0%;
  }
}

/*--- Animation for the words ---*/
@keyframes words {
  0% {
    content: "o";
  }
  1% {
    content: "os";
  }
  2% {
    content: "osc";
  }
  4% {
    content: "oscar";
  }
  5% {
    content: "osca";
  }
  6% {
    content: "os";
  }
  8% {
    content: "o";
  }
  /**/
  9% {
    content: "a";
  }
  10% {
    content: "arm";
  }
  12% {
    content: "arman";
  }
  13% {
    content: "armando";
  }
  14% {
    content: "arman";
  }
  16% {
    content: "arm";
  }
  17% {
    content: "a";
  }
  /**/
  18% {
    content: "l";
  }
  20% {
    content: "lu";
  }
  21% {
    content: "lun";
  }
  22% {
    content: "luna";
  }
  24% {
    content: "lun";
  }
  25% {
    content: "lu";
  }
  26% {
    content: "l";
  }

  28% {
    content: "f";
  }
  29% {
    content: "fro";
  }
  30% {
    content: "front";
  }
  32% {
    content: "frontend";
  }
  33% {
    content: "front";
  }
  34% {
    content: "fr";
  }
  36% {
    content: "f";
  }

  37% {
    content: "d";
  }
  38% {
    content: "dev";
  }
  40% {
    content: "devel";
  }
  41% {
    content: "develo";
  }
  42% {
    content: "developer";
  }
  44% {
    content: "develop";
  }
  45% {
    content: "devel";
  }
  46% {
    content: "dev";
  }
  48% {
    content: "d";
  }

  49% {
    content: "w";
  }
  50% {
    content: "wel";
  }
  52% {
    content: "welc";
  }
  53% {
    content: "welco";
  }
  54% {
    content: "welcome";
  }
  56% {
    content: "welco";
  }
  57% {
    content: "welc";
  }
  58% {
    content: "wel";
  }
  60% {
    content: "w";
  }
  61% {
    content: "h";
  }
  62% {
    content: "ht";
  }
  64% {
    content: "https";
  }
  65% {
    content: "https:";
  }
  66% {
    content: "https://";
  }
  68% {
    content: "https://w";
  }
  69% {
    content: "https://ww";
  }
  70% {
    content: "https://www";
  }
  72% {
    content: "https://www.o";
  }
  73% {
    content: "https://www.osc";
  }
  74% {
    content: "https://www.osca";
  }
  76% {
    content: "https://www.oscarl";
  }
  77% {
    content: "https://www.oscarlun";
  }
  78% {
    content: "https://www.oscarluna.";
  }
  80% {
    content: "https://www.oscarluna.d";
  }
  81% {
    content: "https://www.oscarluna.dev";
  }
  82% {
    content: "https://www.oscarluna.d";
  }
  84% {
    content: "https://www.oscarlun";
  }
  85% {
    content: "https://www.oscarl";
  }
  86% {
    content: "https://www.oscar";
  }
  88% {
    content: "https://www.osca";
  }
  89% {
    content: "https://www.osc";
  }
  90% {
    content: "https://www.o";
  }
  92% {
    content: "https://www";
  }
  93% {
    content: "https://w";
  }
  94% {
    content: "https:/";
  }
  96% {
    content: "https";
  }
  97% {
    content: "htt";
  }
  98% {
    content: "ht";
  }
  100% {
    content: "h";
  }
}
